<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
</head>
<body>
<h2>Редактировать книгу</h2>

<form action="update" th:action="@{/update_book}" th:object="${book}" method="post">
    <table border="0" cellpadding="5">


        <tr>
            <td>Наименование: </td>
            <td><input type="text" th:field="*{name}" th:value="*{name}"/></td>
        </tr>
        <tr>
            <td>Автор: </td>
            <td><input type="text" th:field="*{author}" th:value="*{author}"/></td>
        </tr>
        <tr>
            <td>ISBN: </td>
            <td><input type="text" th:field="*{isbn}" th:value="*{isbn}"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Сохранить"></td>
        </tr>

        <td><input type="hidden" th:field="*{id}" th:value="*{id}"/></td>
    </table>
</form>


</body>
</html>


